
<table>
	<tr>
		<td>申请部门</td><td><select name="dept"></select></td>
	</tr>
	<tr>
		<td>申请人职位</td><td><select name="role"></select></td>
	</tr>
	<tr>
		<td>最少额度</td><td><input name="price_min" type="number" value="0"></td>
	</tr>
	<tr>
		<td>最多额度</td><td><input name="price_max" type="number" value="0"></td>
	</tr>
	<tr>
		<td>审批人</td><td><select name="dd_man"></select></td>
	</tr>
	<tr>
		<td>是否需复审</td><td><select name="fif"><option>是</option><option selected="selected">否</option></select></td>
	</tr>
	<tr>
		<td>是否需复审</td><td><select name="fspman"></select></td>
	</tr>
	<tr>
		<td>备注</td><td><textarea name="remark"></textarea></td>
	</tr>
</table>