
<div id="app">

	<button id="addBtn">新增流程</button>
	
	<div>
		<jxiaui-datagrid :dataset="dataset" ref="datagrid">
			<jxiaui-datagrid-item type="index"></jxiaui-datagrid-item>
			<jxiaui-datagrid-item field="dept" label="申请部门"></jxiaui-datagrid-item>
			<jxiaui-datagrid-item field="role" label="申请人职位"></jxiaui-datagrid-item>
			<jxiaui-datagrid-item field="price_min" label="最少额度"></jxiaui-datagrid-item>
			<jxiaui-datagrid-item field="price_max" label="最多额度"></jxiaui-datagrid-item>
			<jxiaui-datagrid-item field="dd_man" label="审批人"></jxiaui-datagrid-item>
			<jxiaui-datagrid-item field="fif" label="是否需复审"></jxiaui-datagrid-item>
			<jxiaui-datagrid-item field="fspman" label="复审人"></jxiaui-datagrid-item>
			<jxiaui-datagrid-item field="dd_date" label="添加日期"></jxiaui-datagrid-item>
			<jxiaui-datagrid-item label="操作">
				<template v-slot="row">
					<button>编辑</button>
				</template>
			</jxiaui-datagrid-item>
			
		</jxiaui-datagrid>
	</div>
	

</div>