
<div id="vue">
	<div id="form">
		销售单号： <input v-model="form.number"> 
		开始时间：<jxiaui-datepicker v-model="form.sdate"></jxiaui-datepicker>
		结束时间：<jxiaui-datepicker v-model="form.sdate"></jxiaui-datepicker>
		<button @click="query">查询</button>
		<button @click="batchDel">批量删除</button>
	</div>
	<div>
		<jxiaui-datagrid :dataset="dataset" ref="datagrid" :check="true">
			<jxiaui-datagrid-item field="number" label="单号"></jxiaui-datagrid-item>
			<jxiaui-datagrid-item field="coname" label="客户名称"></jxiaui-datagrid-item>
			<jxiaui-datagrid-item field="man" label="责任人"></jxiaui-datagrid-item>
			<jxiaui-datagrid-item field="datetime" label="下单时间"></jxiaui-datagrid-item>
			
		</jxiaui-datagrid>
	</div>
<div id="datagrid"></div>
</div>

