
用户编辑
<div  id="form">
<div>
	<table>
		<tr>
			<td>名称</td>
			<td>{{form.name}}</td>
			<td>英文名</td>
			<td>
				<input v-model="form.name_en">
			</td>
		</tr>
		<tr>
			<td>性别</td>
			<td><input type="radio" v-model="form.sex" value="male"> 男
			<input type="radio" v-model="form.sex" value="female"> 女</td>
			<td>职位</td>
			<td>
				<select v-model="form.workj">
					<option v-for="(p,index) in positionList" :value="p.role_name">{{p.role_name}}</option>
				</select>
			</td>
		</tr>
		<tr>
			<td>所在部门</td>
			<td>
				<select v-model="form.department_id">
					<option v-for="(d,index) in departmentList" :value="d.id">{{d.departname}}</option>
				</select>
			</td>
			<td>电话</td>
			<td><input v-model="form.worktel"></td>
		</tr>
		<tr>
			<td>是否绑定IP</td><td><input type="checkbox" name="ipbind" v-model="form.ipbind"></td>
			<td>IP</td><td><input name="ip" v-model="form.ip"></td>
		</tr>
		<tr>
			<td>权限组</td>
			<td>
				<select v-model="form.restrain_id">
					<option v-for="(restrain, index) in restrainList" :value="restrain.id">{{restrain.restrain_name}}</option>
				</select>
			</td>
		</tr>
	</table>
</div>

<button @click="sub">提交</button>

</div>