
<div class="form-horizontal">
	<div class="form-group">
		<label class="col-sm-2 control-label">合同名称</label>
		<div class="col-sm-10">
			<input class="form-control" name="q_name">
		</div>
	</div>
</div>
<div class="form-horizontal">
	<div class="form-group">
				<label class="col-sm-2 control-label">合同标题</label>
				<div class="col-sm-10">
					<input class="form-control" name="q_topic">
				</div>
				
			</div>
</div>
<div class="form-horizontal">
	<div class="form-group">
				<label class="col-sm-2 control-label">公司名称</label>
				<div class="col-sm-10">
					<input class="form-control" name="q_company">
				</div>
				
			</div>
</div>
<div class="form-horizontal">
	<div class="form-group">
				<label class="col-sm-2 control-label">公司地址</label>
				<div class="col-sm-10">
					<input class="form-control" name="q_addr">
				</div>
				
			</div>
</div>
<div class="form-horizontal">
	<div class="form-group">
				<label class="col-sm-2 control-label">法定代表</label>
				<div class="col-sm-10">
					<input class="form-control" name="q_man">
				</div>
				
			</div>
</div>
<div class="form-horizontal">
	<div class="form-group">
				<label class="col-sm-2 control-label">公司传真</label>
				<div class="col-sm-10">
					<input class="form-control" name="q_fax">
				</div>
				
			</div>
</div>
<div class="form-horizontal">
	<div class="form-group">
				<label class="col-sm-2 control-label">银行帐号</label>
				<div class="col-sm-10">
					<input class="form-control" name="q_net">
				</div>
				
			</div>
</div>
<div class="form-horizontal">
	<div class="form-group">
				<label class="col-sm-2 control-label">邮政编码</label>
				<div class="col-sm-10">
					<input class="form-control" name="q_post">
				</div>
				
			</div>
</div>
<div class="form-horizontal">
	<div class="form-group">
				<label class="col-sm-2 control-label">纳税编号</label>
				<div class="col-sm-10">
					<input class="form-control" name="q_number">
				</div>
				
			</div>
</div>
<div class="form-horizontal">
	<div class="form-group">
				<label class="col-sm-2 control-label">条　　款</label>
				<div class="col-sm-10">
				
					<textarea name="tkEditor" rows="" cols=""></textarea>
					
					
				</div>
				
			</div>
</div>
<div class="form-horizontal">
	<div class="form-group">
					<label class="col-sm-2 control-label">备　　注</label>
						<input class="form-control" name="remark">
					</div>
			</div>
</div>
<div class="form-horizontal">
	<div class="form-group">
		<label class="col-sm-2 control-label">创建日期</label>
		<div class="col-sm-10" id="createDateLabel">
			
		</div>
		
	</div>
</div>
