<div class="form-horizontal">
	<div class="form-group">
		<label class="col-sm-2 control-label">名称</label>
		<div class="col-sm-4">
			<input class="form-control" name="departname">
		</div>
		<label class="col-sm-2 control-label">部门类型</label>
		<div class="col-sm-4">
			<select name="dept_types">
			</select>
		</div>
	</div>
</div>
<div class="form-horizontal">
	<div class="form-group">
		<label class="col-sm-2 control-label">部门编码</label>
		<div class="col-sm-4">
			<input name="dept_code">
		</div>
		<label class="col-sm-2 control-label">主管</label>
		<div class="col-sm-4">
			<select name="leader">
			</select>
		</div>
	</div>
</div>
<div class="form-horizontal">
	<div class="form-group">
		<label class="col-sm-2 control-label">备注</label>
		<div class="col-sm-10">
			<textarea name="remark"></textarea>
		</div>
	</div>
</div>